@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">BradRock, Inc.</h1>

    <br />
    <div id="ticker">---</div>
    <div id="date">---</div>
    <div id="cash">---</div>
    <div id="stocks">---</div>
    <div id="investment">---</div>
    <br />

    @Html.AntiForgeryToken()
    <button type="button" id="invokeData">Choose Stock</button>
    <input type="text" id="tickerVariable" name="tickerName" value="AAPL" />
    <br />
    <br />

    @Html.AntiForgeryToken()
    <button type="button" id="invokeBuy">Buy</button>
    <input type="text" id="buyVariable" name="buyAmount" placeholder="Enter amount..." />
    <br />
    <br />

    @Html.AntiForgeryToken()
    <button type="button" id="invokeAjaxHello">Sell</button>
    <input type="text" id="sellVariable" name="sellAmount" placeholder="Enter amount..." />
    <br />
    <br />

    @Html.AntiForgeryToken()
    <button type="button" id="invokeAjaxHello">Hold</button>
    <br />
    <br />

    @Html.AntiForgeryToken()
    <button type="button" id="invokeAjaxHello">Quit</button>
    <br />
    <br />


</div>

@section Scripts
    {
    <script type="text/javascript">
        $("#invokeData").click(function() {
            var tickerChosen = $('#tickerVariable').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=SetTicker",
                data: { "name": tickerChosen },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("ticker").innerHTML = message;

                    $.ajax({
                        type: "POST",
                        url: "/Index?handler=GetDate",
                        data: { "name": " World!" },
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: "json",
                        headers:
                        {
                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function(message) {
                            document.getElementById("date").innerHTML = message;
                            $.ajax({
                                type: "POST",
                                url: "/Index?handler=GetStocks",
                                data: { "name": " World!" },
                                contentType: 'application/x-www-form-urlencoded',
                                dataType: "json",
                                headers:
                                {
                                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function(message) {
                                    document.getElementById("stocks").innerHTML = message;
                                    $.ajax({
                                        type: "POST",
                                        url: "/Index?handler=GetCash",
                                        data: { "name": " World!" },
                                        contentType: 'application/x-www-form-urlencoded',
                                        dataType: "json",
                                        headers:
                                        {
                                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                        },
                                        success: function(message) {
                                            document.getElementById("cash").innerHTML = message;
                                            $.ajax({
                                                type: "POST",
                                                url: "/Index?handler=GetInvestment",
                                                data: { "name": " World!" },
                                                contentType: 'application/x-www-form-urlencoded',
                                                dataType: "json",
                                                headers:
                                                {
                                                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                },
                                                success: function(message) {
                                                    document.getElementById("investment").innerHTML = message;
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        }
                    });
                }
            });
        });

        $("#invokeBuy").click(function() {
            var amountMoney = $('#buyVariable').val();
            var tickerChosen = $('#tickerVariable').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=BuyStocks",
                data: { "amountBuy": amountMoney },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    // Do the logic here instead of in the .cs, return the ticker pricec though, and have global variables for Cash, Ticker, etc.. and actually return the name instead of the public variable in the .cs file
                    document.getElementById("lastaction").innerHTML = message;
                }
            });

            $.ajax({
                type: "POST",
                url: "/Index?handler=GetDate",
                data: { "name": " World!" },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("date").innerHTML = message;
                    $.ajax({
                        type: "POST",
                        url: "/Index?handler=GetTicker",
                        data: { "name": tickerChosen },
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: "json",
                        headers:
                        {
                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function(message) {
                            document.getElementById("ticker").innerHTML = message;
                            $.ajax({
                                type: "POST",
                                url: "/Index?handler=GetStocks",
                                data: { "name": " World!" },
                                contentType: 'application/x-www-form-urlencoded',
                                dataType: "json",
                                headers:
                                {
                                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function(message) {
                                    document.getElementById("stocks").innerHTML = message;
                                    $.ajax({
                                        type: "POST",
                                        url: "/Index?handler=GetCash",
                                        data: { "name": " World!" },
                                        contentType: 'application/x-www-form-urlencoded',
                                        dataType: "json",
                                        headers:
                                        {
                                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                        },
                                        success: function(message) {
                                            document.getElementById("cash").innerHTML = message;
                                            $.ajax({
                                                type: "POST",
                                                url: "/Index?handler=GetInvestment",
                                                data: { "name": " World!" },
                                                contentType: 'application/x-www-form-urlencoded',
                                                dataType: "json",
                                                headers:
                                                {
                                                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                },
                                                success: function(message) {
                                                    document.getElementById("investment").innerHTML = message;
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        }
                    });
                }
            });
        });
    </script>
}