@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">BradRock, Inc.</h1>

    <br />

    <div id="final" style="display: none;">
        <div>Game Complete!</div>
        <div>Initial Cash: $10000</div>
    </div>

    <div id="cash">---</div>
    <div id="investment">---</div>
    <div id="ticker">---</div>

    <div id="dataholder">
        <div id="stocks">---</div>
        <div id="tickerprice">---</div>
        <div id="date">---</div>
    </div>

    <div style="display:none;" id="lastaction">Hidden</div>



    <br />

    @Html.AntiForgeryToken()
    <button type="button" id="invokeData">Choose Stock</button>
    <input type="text" id="tickerVariable" name="tickerName" value="AAPL" />
    <br />
    <br />

    @Html.AntiForgeryToken()
    <div id="choosescreen">
        <button type="button" id="goBuy">Buy</button>
        <br />
        <br />
        <button type="button" id="goSell">Sell</button>
        <br />
        <br />
    </div>

    @Html.AntiForgeryToken()
    <div id="buyscreen" style="display: none;">
        <input type="text" id="buyVariable" name="buyVariable" placeholder="Enter amount..." />
        <button type="button" id="invokeBuy">Buy</button>
        <br />
        <br />
    </div>

    @Html.AntiForgeryToken()
    <div id="sellscreen" style="display: none;">
        <input type="text" id="sellVariable" name="sellVariable" placeholder="Enter amount..." />
        <button type="button" id="invokeSell">Sell</button>
        <br />
        <br />
    </div>

    @Html.AntiForgeryToken()
    <button type="button" id="invokeHold">Hold</button>
    <br />
    <br />

    @Html.AntiForgeryToken()
    <button type="button" id="invokeQuit">Quit</button>
    <br />
    <br />


</div>

<!--
    Do an On Change
    Make a hidden div
    When the field says done, make it so the buttons are disabled and it says Final Score at the top and shows them their finals
-->

@section Scripts
    {
    <script type="text/javascript">
        $("#invokeData").click(function () {
            var tickerChosen = $('#tickerVariable').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=SetTicker",
                data: { "name": tickerChosen },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    document.getElementById("ticker").innerHTML = message;

                    document.getElementById("choosescreen").style.display = "block";
                    document.getElementById("sellscreen").style.display = "none";
                    document.getElementById("buyscreen").style.display = "none";

                    $.ajax({
                        type: "POST",
                        url: "/Index?handler=GetDate",
                        data: { "name": " World!" },
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: "json",
                        headers:
                        {
                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (message) {
                            document.getElementById("date").innerHTML = message;
                            $.ajax({
                                type: "POST",
                                url: "/Index?handler=GetStocks",
                                data: { "name": " World!" },
                                contentType: 'application/x-www-form-urlencoded',
                                dataType: "json",
                                headers:
                                {
                                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function (message) {
                                    document.getElementById("stocks").innerHTML = message;
                                    $.ajax({
                                        type: "POST",
                                        url: "/Index?handler=GetCash",
                                        data: { "name": " World!" },
                                        contentType: 'application/x-www-form-urlencoded',
                                        dataType: "json",
                                        headers:
                                        {
                                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                        },
                                        success: function (message) {
                                            document.getElementById("cash").innerHTML = message;
                                            $.ajax({
                                                type: "POST",
                                                url: "/Index?handler=GetInvestment",
                                                data: { "name": " World!" },
                                                contentType: 'application/x-www-form-urlencoded',
                                                dataType: "json",
                                                headers:
                                                {
                                                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                },
                                                success: function (message) {
                                                    document.getElementById("investment").innerHTML = message;
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "/Index?handler=GetCurrentTickerPrice",
                                                        data: { "name": " World!" },
                                                        contentType: 'application/x-www-form-urlencoded',
                                                        dataType: "json",
                                                        headers:
                                                        {
                                                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                        },
                                                        success: function (message) {
                                                            document.getElementById("tickerprice").innerHTML = message;
                                                        }
                                                    });
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        }
                    });
                }
            });
        });

        $("#invokeBuy").click(function () {
            var amountMoney = $('#buyVariable').val();
            var tickerChosen = $('#tickerVariable').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=BuyStocks",
                data: { "amountBuy": amountMoney },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    // Do the logic here instead of in the .cs, return the ticker pricec though, and have global variables for Cash, Ticker, etc.. and actually return the name instead of the public variable in the .cs file
                    document.getElementById("lastaction").innerHTML = message;
                    // Call new function

                    document.getElementById("choosescreen").style.display = "block";
                    document.getElementById("sellscreen").style.display = "none";
                    document.getElementById("buyscreen").style.display = "none";

                    if (message == "COMPLETE") {
                        document.getElementById("dataholder").style.display = "none";
                        document.getElementById("final").style.display = "block";
                    }
                }
            });

            setTimeout(wait(), 2000);
            // or put a timer here

            function wait() {
                // Make all this a function you can call
                $.ajax({
                    type: "POST",
                    url: "/Index?handler=GetDate",
                    data: { "name": " World!" },
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: "json",
                    headers:
                    {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (message) {
                        document.getElementById("date").innerHTML = message;
                        $.ajax({
                            type: "POST",
                            url: "/Index?handler=GetTicker",
                            data: { "name": tickerChosen },
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: "json",
                            headers:
                            {
                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (message) {
                                document.getElementById("ticker").innerHTML = message;
                                $.ajax({
                                    type: "POST",
                                    url: "/Index?handler=GetStocks",
                                    data: { "name": " World!" },
                                    contentType: 'application/x-www-form-urlencoded',
                                    dataType: "json",
                                    headers:
                                    {
                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                    },
                                    success: function (message) {
                                        document.getElementById("stocks").innerHTML = message;
                                        $.ajax({
                                            type: "POST",
                                            url: "/Index?handler=GetCash",
                                            data: { "name": " World!" },
                                            contentType: 'application/x-www-form-urlencoded',
                                            dataType: "json",
                                            headers:
                                            {
                                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                            },
                                            success: function (message) {
                                                document.getElementById("cash").innerHTML = message;
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/Index?handler=GetInvestment",
                                                    data: { "name": " World!" },
                                                    contentType: 'application/x-www-form-urlencoded',
                                                    dataType: "json",
                                                    headers:
                                                    {
                                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                    },
                                                    success: function (message) {
                                                        document.getElementById("investment").innerHTML = message;
                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/Index?handler=GetCurrentTickerPrice",
                                                            data: { "name": " World!" },
                                                            contentType: 'application/x-www-form-urlencoded',
                                                            dataType: "json",
                                                            headers:
                                                            {
                                                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                            },
                                                            success: function (message) {
                                                                document.getElementById("tickerprice").innerHTML = message;
                                                            }
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            }
        });

        $("#invokeSell").click(function () {
            var amountMoney = $('#sellVariable').val();
            var tickerChosen = $('#tickerVariable').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=SellStocks",
                data: { "amountSold": amountMoney },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    // Do the logic here instead of in the .cs, return the ticker pricec though, and have global variables for Cash, Ticker, etc.. and actually return the name instead of the public variable in the .cs file
                    document.getElementById("lastaction").innerHTML = message;
                    document.getElementById("choosescreen").style.display = "block";
                    document.getElementById("sellscreen").style.display = "none";
                    document.getElementById("buyscreen").style.display = "none";

                    if (message == "COMPLETE") {
                        document.getElementById("dataholder").style.display = "none";
                        document.getElementById("final").style.display = "block";
                    }
                }
            });

            setTimeout(wait(), 2000);
            // or put a timer here

            function wait() {
                // Make all this a function you can call
                $.ajax({
                    type: "POST",
                    url: "/Index?handler=GetDate",
                    data: { "name": " World!" },
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: "json",
                    headers:
                    {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (message) {
                        document.getElementById("date").innerHTML = message;
                        $.ajax({
                            type: "POST",
                            url: "/Index?handler=GetTicker",
                            data: { "name": tickerChosen },
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: "json",
                            headers:
                            {
                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (message) {
                                document.getElementById("ticker").innerHTML = message;
                                $.ajax({
                                    type: "POST",
                                    url: "/Index?handler=GetStocks",
                                    data: { "name": " World!" },
                                    contentType: 'application/x-www-form-urlencoded',
                                    dataType: "json",
                                    headers:
                                    {
                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                    },
                                    success: function (message) {
                                        document.getElementById("stocks").innerHTML = message;
                                        $.ajax({
                                            type: "POST",
                                            url: "/Index?handler=GetCash",
                                            data: { "name": " World!" },
                                            contentType: 'application/x-www-form-urlencoded',
                                            dataType: "json",
                                            headers:
                                            {
                                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                            },
                                            success: function (message) {
                                                document.getElementById("cash").innerHTML = message;
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/Index?handler=GetInvestment",
                                                    data: { "name": " World!" },
                                                    contentType: 'application/x-www-form-urlencoded',
                                                    dataType: "json",
                                                    headers:
                                                    {
                                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                    },
                                                    success: function (message) {
                                                        document.getElementById("investment").innerHTML = message;
                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/Index?handler=GetCurrentTickerPrice",
                                                            data: { "name": " World!" },
                                                            contentType: 'application/x-www-form-urlencoded',
                                                            dataType: "json",
                                                            headers:
                                                            {
                                                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                            },
                                                            success: function (message) {
                                                                document.getElementById("tickerprice").innerHTML = message;
                                                            }
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            }
        });

        $("#invokeHold").click(function () {
            var tickerChosen = $('#tickerVariable').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=HoldStocks",
                data: { "amountSold": "Hello" },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    // Do the logic here instead of in the .cs, return the ticker pricec though, and have global variables for Cash, Ticker, etc.. and actually return the name instead of the public variable in the .cs file
                    document.getElementById("lastaction").innerHTML = message;
                    document.getElementById("choosescreen").style.display = "block";
                    document.getElementById("sellscreen").style.display = "none";
                    document.getElementById("buyscreen").style.display = "none";

                    if (message == "COMPLETE") {
                        document.getElementById("dataholder").style.display = "none";
                        document.getElementById("final").style.display = "block";
                    }
                }
            });

            setTimeout(wait(), 2000);
            // or put a timer here

            function wait() {
                // Make all this a function you can call
                $.ajax({
                    type: "POST",
                    url: "/Index?handler=GetDate",
                    data: { "name": " World!" },
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: "json",
                    headers:
                    {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (message) {
                        document.getElementById("date").innerHTML = message;
                        $.ajax({
                            type: "POST",
                            url: "/Index?handler=GetTicker",
                            data: { "name": tickerChosen },
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: "json",
                            headers:
                            {
                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (message) {
                                document.getElementById("ticker").innerHTML = message;
                                $.ajax({
                                    type: "POST",
                                    url: "/Index?handler=GetStocks",
                                    data: { "name": " World!" },
                                    contentType: 'application/x-www-form-urlencoded',
                                    dataType: "json",
                                    headers:
                                    {
                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                    },
                                    success: function (message) {
                                        document.getElementById("stocks").innerHTML = message;
                                        $.ajax({
                                            type: "POST",
                                            url: "/Index?handler=GetCash",
                                            data: { "name": " World!" },
                                            contentType: 'application/x-www-form-urlencoded',
                                            dataType: "json",
                                            headers:
                                            {
                                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                            },
                                            success: function (message) {
                                                document.getElementById("cash").innerHTML = message;
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/Index?handler=GetInvestment",
                                                    data: { "name": " World!" },
                                                    contentType: 'application/x-www-form-urlencoded',
                                                    dataType: "json",
                                                    headers:
                                                    {
                                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                    },
                                                    success: function (message) {
                                                        document.getElementById("investment").innerHTML = message;
                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/Index?handler=GetCurrentTickerPrice",
                                                            data: { "name": " World!" },
                                                            contentType: 'application/x-www-form-urlencoded',
                                                            dataType: "json",
                                                            headers:
                                                            {
                                                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                            },
                                                            success: function (message) {
                                                                document.getElementById("tickerprice").innerHTML = message;
                                                            }
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            }
        });

        $("#invokeQuit").click(function () {
            var tickerChosen = $('#tickerVariable').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=QuitGame",
                data: { "amountSold": "Hello" },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    // Do the logic here instead of in the .cs, return the ticker pricec though, and have global variables for Cash, Ticker, etc.. and actually return the name instead of the public variable in the .cs file
                    document.getElementById("lastaction").innerHTML = message;
                    document.getElementById("choosescreen").style.display = "none";
                    document.getElementById("sellscreen").style.display = "none";
                    document.getElementById("buyscreen").style.display = "none";
                    document.getElementById("dataholder").style.display = "none";
                    document.getElementById("final").style.display = "block";
                }
            });

            setTimeout(wait(), 2000);
            // or put a timer here

            function wait() {
                // Make all this a function you can call
                $.ajax({
                    type: "POST",
                    url: "/Index?handler=GetDate",
                    data: { "name": " World!" },
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: "json",
                    headers:
                    {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (message) {
                        document.getElementById("date").innerHTML = message;
                        $.ajax({
                            type: "POST",
                            url: "/Index?handler=GetTicker",
                            data: { "name": tickerChosen },
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: "json",
                            headers:
                            {
                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (message) {
                                document.getElementById("ticker").innerHTML = message;
                                $.ajax({
                                    type: "POST",
                                    url: "/Index?handler=GetStocks",
                                    data: { "name": " World!" },
                                    contentType: 'application/x-www-form-urlencoded',
                                    dataType: "json",
                                    headers:
                                    {
                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                    },
                                    success: function (message) {
                                        document.getElementById("stocks").innerHTML = message;
                                        $.ajax({
                                            type: "POST",
                                            url: "/Index?handler=GetCash",
                                            data: { "name": " World!" },
                                            contentType: 'application/x-www-form-urlencoded',
                                            dataType: "json",
                                            headers:
                                            {
                                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                            },
                                            success: function (message) {
                                                document.getElementById("cash").innerHTML = message;
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/Index?handler=GetInvestment",
                                                    data: { "name": " World!" },
                                                    contentType: 'application/x-www-form-urlencoded',
                                                    dataType: "json",
                                                    headers:
                                                    {
                                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                    },
                                                    success: function (message) {
                                                        document.getElementById("investment").innerHTML = message;
                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/Index?handler=GetCurrentTickerPrice",
                                                            data: { "name": " World!" },
                                                            contentType: 'application/x-www-form-urlencoded',
                                                            dataType: "json",
                                                            headers:
                                                            {
                                                                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                                            },
                                                            success: function (message) {
                                                                document.getElementById("tickerprice").innerHTML = message;
                                                            }
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            }
        });

        $("#goBuy").click(function () {
            document.getElementById("choosescreen").style.display = "none";
            document.getElementById("buyscreen").style.display = "block";
        });

        $("#goSell").click(function () {
            document.getElementById("choosescreen").style.display = "none";
            document.getElementById("sellscreen").style.display = "block";
        });

            // Do a on change where if last action is COMPLETE then you lock the buttons and show the final investment
    </script>
}