@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Brad Rock</h1>
    
    <br />
    <div id="date">---</div>
    <div id="cash">---</div>
    <div id="stocks">---</div>
    <div id="ticker">---</div>
    <br />

    <input type="text" id="tickerVariable" name="tickerName" value="AAPL"/>

     @Html.AntiForgeryToken()
    <button type="button" id="invokeData">Choose Stock</button>
    <br />
     @Html.AntiForgeryToken()
    <button type="button" id="invokeAjaxHello">Buy (lets you choose how much to buy and adds to shares)</button>
    <br />
     @Html.AntiForgeryToken()
    <button type="button" id="invokeAjaxHello">Sell (lets you choose how much to sell and adds to cash)</button>
    <br />
     @Html.AntiForgeryToken()
    <button type="button" id="invokeAjaxHello">Hold (goes to next day without action)</button>
    <br />
     @Html.AntiForgeryToken()
    <button type="button" id="invokeAjaxHello">Quit (sells all, shows final result)</button>
    <br />


</div>

@section Scripts
    {
    <script type="text/javascript">
        $("#invokeData").click(function() {
            var tickerChosen = $('#tickerVariable').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=GetDate",
                data: { "name": " World!"},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("date").innerHTML = message;
                }
            });

            $.ajax({
                type: "POST",
                url: "/Index?handler=GetTicker",
                data: {"name":tickerChosen},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("ticker").innerHTML = message;
                }
            });

            $.ajax({
                type: "POST",
                url: "/Index?handler=GetStocks",
                data: { "name": " World!" },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("stocks").innerHTML = message;
                }
            });

            $.ajax({
                type: "POST",
                url: "/Index?handler=GetCash",
                data: { "name": " World!" },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("cash").innerHTML = message;
                }
            });
        });

        $("#invokeAjaxHello").click(function() {
            $.ajax({
                type: "POST",
                url: "/Index?handler=GetAjax",
                data: { "name": " World!" },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("result").innerHTML = message;
                }
            });

        });

        $("#doubleYourMoney").click(function() {
            $.ajax({
                type: "POST",
                url: "/Index?handler=DoubleMoney",
                data: { "description": "please", "value": 2 },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("result").innerHTML = message;
                }
            });
        });
        </script>
}

    <!--
        Create dropdown menu
        Create buttons for buy / sell / hold
        Create way to choose random day
        Create way to move forward in date
        Create GUI for it to work with
    -->
    <!--
        This is the game page
    -->
    <!--
        1. Create a dropdown menu for the ticker symbol
        2. Create a variable to hold the chosen ticker
        3. Create a variable to store the amount of cash they have left
        4. Create a variable to store the amount of cash they have invested
        5. Make a function that makes a

        ticker variable
        amount of shares variable
        amount of cash variable

        you choose the ticker
        you query for how much it costs on the given day
        and then they buy it, and it subtracts the money from cash and adds the shares
        and then it shows them how much they have in cash, how much there shares are worth in current cost, then they can stay, buy, sell
        if they buy, subtract from cash add to shares
        if they sell, add to the cash and subtract the amount of shares, multiply by current stock price


    -->
